---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
		<h1>My Astro Blog</h1>
        <p>Starting my page!</p>
		<p>Here are a few facts about me:</p>
<p>My skills are:</p>
</BaseLayout>