---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
		<h1>About the Blogger:</h1>
		<h2>Ruby -The Animal Whisperer</h2>
        <p>Welcome to my blog where I post about dogs and cats that are too cute to not write about.</p>
		<p>Here are a few facts about me:</p>
<p>I love cats and dogs and I always enjoy seeing them together and happy.</p>
</BaseLayout>