---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
		<h1>About the Blogger:</h1>
		<h2>I HATE AI!</h2>
        <p>Welcome to my blog where I post about the pros and cons of AI usage that is taking over our way of life.</p>
		<p>There are so many things I can talk about but this is my biggest belief:</p>
<p>AI will be the downfall of humanity.</p>
</BaseLayout>