---
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
<h1>Welcome to the cats and dogs known to be the most adorable pets alive!</h1>
<p>There are so many different things to learn and see throughout my blog.</p>
</BaseLayout>
