---
import BaseLayout from '../layouts/BaseLayout.astro';
const {pageTitle} = Astro.props;
---
<BaseLayout pageTitle={pageTitle}>
<h1>Welcome to the end of the world as we know it!</h1>
<p>Many people do not know that they are at risk of false information and that we will never be the same after AI.</p>
</BaseLayout>
